<section class="footer p-3">
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="logo">
        <h5 class="main_logo m-0">
          Inova
          <br />
          Test
        </h5>
      </div>
      <div class="social--media d-flex gap-2">
        <img src="assets/in.svg" width="26px" class="rounded-circle" alt="" />
        <img
          src="assets/twitter.svg"
          width="26px"
          class="rounded-circle"
          alt=""
        />
        <img src="assets/fb.svg" width="26px" class="rounded-circle" alt="" />
      </div>
    </div>
  </div>
</section>
